/DAYS_ATTR.class
/FitnessCalculator.class
/GAPS.class
/M10DAY_ATTR.class
/M4SHIFT_ATTR.class
/NoConstraints.class
/P_FREQ.class
/SHIFT_ATTR.class
/SoftConstraints.class
/HardConstraints.class
/NoConstraints2.class
/FitnessCalculator2.class
/DAYS_ATTR2.class
/GAPS2.class
/M4SHIFT_ATTR2.class
/SHIFT_ATTR2.class
/P_FREQ2.class
/M10DAY_ATTR2.class
